<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bidvertiser2100593 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
</head>
<body>

  {{ content }}

  <footer style="margin-top: 3rem; text-align: center; font-size: 0.9em;">
    <a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a>
  </footer>

  <script type="text/javascript">
  (function(d) {
    var params = { bvpushsubid: 2100593, cb: (new Date()).getTime() };
    var qs = Object.keys(params).reduce(function(a, k){
      a.push(k + '=' + encodeURIComponent(params[k]));
      return a;
    },[]).join('&');
    var s = d.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    var p = document.location.protocol === 'https:' ? 'https' : 'http';
    s.src = p + "://cdn.hyperpromote.com/bidvertiser/tags/activejs/bdpush.js?" + qs;
    d.getElementsByTagName('body').item(0).appendChild(s);
  })(document);
  </script>

</body>
</html>
